@CHARSET "UTF-8";

.count {
	color: white;
	background-color: blue;
}

.container {
	margin: 10px;
	width: 800px;
}

.key {
	height: 60px;
}

.key div {
	float: left;
}

.key .key_desc {
	margin-top: 5px;
	text-align: center;
}

.key .words {
	margin-left: 5px;
	height: 25px;
	width: 400px
}

.result {
	height: 60px;
	line-height: 60px;
	background-color: #eeeeee;
	padding-left: 15px;
}

.result span {
	color: #e16531;
	font-weight: 300;
}

.record table {
	width: 100%;
}

.record table tr td {
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid #a9b7b7 1px;
}

.record table tr {
	
}

.record .status {
	background: url("../img/putdown.png") no-repeat 2px center;
	width: 100px;
	height: 25px;
	border: 0px;
	text-align: right;
	border: 0px;
}

.record .log {
	margin-bottom: 10px;
	font-size: 12px;
}

.jobname {
	color: #17abe3;
}

.jobtype {
	color: white;
	background-color: #f4c600;
}

.ecomb {
	
}

.money {
	color: #e0620d;
}

ul {
	list-style: none;
}

#pagelist {
	margin: 30px auto;
	padding: 6px 0px;
	height: 20px;
	float: right;
}

#pagelist ul li {
	float: left;
	border: 0px solid #5d9cdf;
	height: 20px;
	line-height: 20px;
	margin: 0px 2px;
}

#pagelist ul li a {
	display: block;
	padding: 0px 6px;
	background: #e6e6e6;
	text-decoration: none;
	color: gray;
}

.current {
	background: #a9d2ff;
	display: block;
	padding: 0px 6px;
	font-weight: bold;
}